{% extends "home/index.html"%}

{% block title%}
Contact Us
{% endblock %}

{% block content %}
<style>
  h1{
    text-decoration:underline;
    padding-left: 10px;
  }

</style>
  <h1> Contact Us</h1>
  <div class="leftbody">
    <p>
    <b>Child Care Aware of Northcentral Arkansas</b><br />
    P.O. Box 2396<br />
    Batesville, AR 72503<br /><br />
    Telephone: 800-737-2237 or 870-793-5233<br />
    FAX: 870-793-4035<br />
    Email: <a href="mailto:info@ccana.org" title="Email Child Care Aware of Northcentral Arkansas">info@ccana.org</a><br />
    </p>
    <p><strong>Hours of Operation:</strong><br />
    Monday-Thursday 8:00 a.m.-5:00 p.m.<br />
    Friday 8:00 a.m.- 12:00 p.m.<br /><br />(Contact via email from staff is possible during hours of non-operation)</p>
    <p>Please fill out the form below to contact us.</p>
    <form method="post">
    {%csrf_token%}


    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}
        {% if field.field.required %}
            <span style="color:red">*</span>
        {% endif %} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
      <input type="submit" value="Save">
    </form>
  </div>
  {% endblock %}
