{% extends "home/index.html"%}
{% load static %}
{% block title %}
Contact Us
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="motto2">
      <h1 class="text-center"> CONTACT US </h1>
    </div>
  </div>

  <div class="leftbody">
    <p>
    <b>Child Care Aware of Northcentral Arkansas</b><br />
    P.O. Box 2396<br />
    Batesville, AR 72503<br /><br />
    Telephone: 800-737-2237 or 870-793-5233<br />
    FAX: 870-793-4035<br />
    Email: <a href="mailto:info@ccana.org" title="Email Child Care Aware of Northcentral Arkansas">info@ccana.org</a><br />
    </p>
    <p><strong>Hours of Operation:</strong><br />
    Monday-Thursday 8:00 a.m.-5:00 p.m.<br />
    Friday 8:00 a.m.- 12:00 p.m.<br /><br />(Contact via email from staff is possible during hours of non-operation)</p>
    <p>Please fill out the form below to contact us.</p>
    <form method="post">
    {%csrf_token%}


    <div class = "container-fluid">
      {% for field in form %}
          <div class="fieldWrapper">
              {{ field.errors }}
              {{ field.label_tag }}
          {% if field.field.required %}
              <span style="color:red">*</span>
          {% endif %} {{ field }}
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
          </div>
      {% endfor %}
        <input type="submit" value="Save">
    </div>
    </form>
  </div>
</div>
  <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% endblock %}
