{% load static %}
<html>
  <head>
    <title>CCANA Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
  </head>
  <body>
    <div class = "container">
      <div class="jumbotron">
        <img id="CCANA-icon" src="https://www.ccana.org/assets/Users/Images/sidebar_children.png"/>

      </div>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="#"> Home </a></li>
            <li><a href="#"> Parents </a></li>
            <li><a href="#"> Provider </a></li>
            <li><a href="#"> Staff </a></li
            <li><a href="#">Sponsors </a></li>
          </ul>
      </div>
    </nav>


  </body>
</html>
