{% load static %}
<html>
  <head>
    <title>
        {% block title %}
        CCANA Home Page
        {% endblock %}
      </title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Sunshiney|Josefin+Sans|Indie+Flower&display=swap" rel="stylesheet">
      {% block extraresources %}{% endblock %}
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'home/images/ChildcareAwareWebLogo.ico' %}">
  </head>
  <body>
    <div class = "container-fluid">
      <div class="row-fluid">
          <div id = "page-head" class ="jumbotron" style="background-color: transparent"></div>
      </div>
      <div class="row-fluid">
          <nav class="navbar navbar-default">
            <div class="row-fluid">
              <div class = "navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-items" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
            </div>
            <div class="collapse navbar-collapse" id="nav-items">
              <ul class="nav navbar-nav nav-fill">
                <li><a href="/"> Home </a></li>
                <li><a href="/parents"> Parents </a></li>
                <li><a href="/providers"> Provider </a></li>
                <li><a href="/staff"> Staff </a></li>
                <li><a href="/sponsors"> Sponsors </a></li>
                <li><a href="/registration"> Training/Events </a></li>
                <li><a href="/contact_us"> Contact Us </a></li>
              </ul>
            </div>
          </nav>
      </div>
    </div>
      <div class = "container">
      {% block content %}
      <div class="row-fluid">
        <div id="motto">
          <div class="border2">
            <h1 class="text-center"> Northcentral Arkansas Most Trusted Childcare Resource </h1>
          </div>
        </div>
      </div>
      <div>
        <div id="rectangle"></div>
      </div>
      <div class="row-fluid border">
        <p class="text-center"><strong>Child Care Aware of Northcentral Arkansas is a community child care resource and referral program providing services in fourteen Northcentral Arkansas counties. The program helps parents locate child care through a database of licensed and registered facilities based upon that family's needs all free of charge.</strong></p>
      </div>
      <div>
        <div id="rectangle"></div>
      </div>
      <div class="row-fluid">
        <h3 class="text-center"> Our service is designed to:</h3>
      </div>

      <div class="row-fluid">
        <div class="col-sm-8">
          <ul>
            <li>Empower parents by providing information on child development and criteria to use in choosing appropriate, high quality child care for their children.</li>
            <li>Facilitate parent choice through appropriate referrals to licensed or registered child care providers.</li>
            <li>Enhance quality of available child care through provider education/training.</li>
            <li>Increase supply of care by helping to recruit providers to meet identified community needs.</li>
            <li>Provide technical assistance to present and prospective providers with the objective of promoting quality.</li>
            <li>Be a trend spotter through careful data collection.</li>
            <li>Be a Community Change Agent through advocacy and partnership building.</li>
          </ul>
        </div>
      </div>

      <div class="row-fluid">
        <div id="rectangle"></div>
      <div>

      <div class="row-fluid">
        <h3> Areas We Service</h3>
      </div>

      <div class="row-fluid">
        <img src="{% static "home/images/CountiesMap.jpg" %}">
      </div>


      <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      {% endblock %}
    </div>
  </body>
  <footer>
    <div class="jumbotron jumbotron-fluid">
        <div class="row-fluid">
          <div class="col-sm-4">
            <p>
              <span><strong>Child Care Aware of Northcentral Arkansas</strong></span>
              <span>P.O. Box 2396</span>
              <span>Batesville, AR 72503</span>
            </p>
            <p>
              <span> Phone: 800-737-2237 or 870-793-5233 </span>
              <span> FAX: 870-793-4035 </span>
              <span> Email: <a href="mailto:info@ccana.org">info@ccana.org</a></span>
          </div>
        </div>
    </div>
  </footer>
</html>
