{% extends "home/index.html"%}

{% block title%} Providers {% endblock %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="motto">
      <h1 class="text-center"> Providers </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
      <h3 class="text-center"> Services For Providers</h3>
      <p class="text-center"> Child care providers can take advantage of a variety of support services in Northcentral Arkansas. Those interested in beginning a child care facility (family home or center) will benefit from free guidance, training and technical assistance.</p>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div>
    <div id="rectangle"></div>
  </div>

  

</div>

{% endblock %}
