{% extends "home/index.html"%}

{% block title%} Providers {% endblock %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="motto">
      <h1 class="text-center"> PROVIDERS </h1>
    </div>
  </div>

  <div class="row border">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h3 class="text-center"> Services For Providers</h3>
      <p class="text-center"> Child care providers can take advantage of a variety of support services in Northcentral Arkansas. Those interested in beginning a child care facility (family home or center) will benefit from free guidance, training and technical assistance.</p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div>
    <div id="rectangle"></div>
  </div>
  <div class="row">
    <h3 class="text-center"> Programs & Resources Offered to Providers</h3>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <ul>
        <li class="text-left">Monthly reimbursement for food costs through the USDA Child and Adult Care Food Program (White River Planning and Development District's Child Care Food Program) for licensed or registered family child care homes.</li>
        <li class="text-left">Training and technical assistance for childcare facilities participating in Better Beginnings.</li>
        <li class="text-left">Northcentral Arkansas Child Care Resource Center exclusively for child care facilities and early childhood students.</li>
      </ul>
    </div>
    <div class="col-sm-5">
      <ul>
        <li class="text-left">Child care training opportunities and conferences including the Northcentral Arkansas Regional Fall Child Care Conference sponsored by Child Care Aware of Northcentral Arkansas and participating sponsor organizations. Other training opportunities include:Business Management Training, Fund Raising and Grant Training, Family Child Care Training, Ages and Stages, Al's Caring Pals, Disaster Prepardness Training, Nutrition and Physical Activity, AR Fit Kids, and more.</li>
        <li class="text-left">Referral services for your business.</li>
        <li class="text-left">Information and relevant updates.</li>
      </ul>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div>
    <div id="rectangle"></div>
  </div>

  <div class="row">
    <h3 class="text-middle"> Additional Resources </h3>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <ul>
        <li class="text-left"><a href="https://www.arkansas.gov/childcare">Arkansas Division of Child Care and Early Childhood Education</a></li>
        <li class="text-left"><a href="https://arbetterbeginnings.com/">Better Beginnings Arkansas</a></li>
        <li class="text-left"><a href="https://www.childcareaware.org/">Child Care Aware of America</a></li>
        <li class="text-left"><a href="https://www.wrpdd.org/">White River Planning and Development District, Inc.</a></li>
        <li class="text-left"><a href="http://professionalregistry.astate.edu/registry.asp">Traveling Arkansas' Professional Pathways (TAPP)</a></li>
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>

</div>
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
