{% extends "home/index.html"%}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Referral Page
{% endblock %}

{% block content %}
  <div class="row">
    <div class="motto">
      <h1 class="text-center"> FINDING CHILD CARE </h1>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{error|escape}}</strong>
        </div>
        {% endfor %}
      {% endfor %}
    {% endif %}


  <form method="post">
    {%csrf_token%}
    {% for field in form %}
    <div class="form-group">
      {{field.label_tag}}
      {% render_field field class="form-control" %}
    </div>
    {% endfor %}
    <input type="submit" value="Save">
  </form>
{% endblock %}
