{% extends "home/index.html"%}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Referral Page
{% endblock %}

{% block content %}
  <div class="row">
    <div class="motto">
      <h1 class="text-center"> FINDING CHILD CARE </h1>
    </div>
  </div>
  <form method="post">
    {%csrf_token%}
    {% for field in form %}
    <div class="form-group">
      {{field.label_tag}}
      {% render_field field class="form-control" %}
    </div>
    {% endfor %}
    <input type="submit" value="Save">
  </form>
{% endblock %}
