{% extends "home/index.html"%}

{% block title%} Sponsors {% endblock %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="motto">
      <h1 class="text-center"> SPONSORS </h1>
    </div>
  </div>
  <div class = "row border">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <ul>
        <li class="text-left"><a href="https://humanservices.arkansas.gov/about-dhs/dccece">Division of Child Care and Early Childhood Education</a></li>
        <li class="text-left"><a href ="https://www.approvehomemedical.com/">Approve Home Medical</a></li>
        <li class="text-left"><a href="https://www.guardonline.com/">Batesville Guard</a></li>
        <li class="text-left"><a href="https://www.bryantspharmacyrx.com/">Bryant's Pharmacy</a></li>
        <li class="text-left"><a href="https://www.thecitizensbank.net/">Citizens Bank of Batesville</a></li>
        <li class="text-left"><a href="https://firstcommunity.net/">First Community Bank</a></li>
        <li class="text-left"><a href="https://www.firstelectric.coop/">First Electric Trust</a></li>
        <li class="text-left"><a href="https://www.fnbc.us/">First National Banking Company</a></li>
        <li class="text-left"><a href="https://www.firstservicebank.com/">First Service Bank</a></li>
        <li class="text-left"><a href="https://futurefuelcorporation.com/">FutureFuel Chemical Company</a></li>
      </ul>
    </div>
    <div class="col-sm-5">
      <ul>
        <li class="text-left"><a href="https://lacroixoptics.com/">LaCroix Optical</a></li>
        <li class="text-left"><a href="https://ww2.lifeplus.com/us/en">LifePlus</a></li>
        <li class="text-left"><a href="https://www.mandpbank.com/">Merchant & Planters Bank</a></li>
        <li class="text-left"><a href="https://nadcinc.org/">Northcentral AR Development Council</a></li>
        <li class="text-left"><a href="https://www.naeci.com/">North Central Arkansas Electric Coop</a></li>
        <li class="text-left"><a href="http://www.pjecc.com/">Petit Jean Electric Coop</a></li>
        <li class="text-left"><a href="https://www.uaccb.edu/">UACCB</a></li>
        <li class="text-left"><a href="https://www.unitedway.org/local/united-states/arkansas/united-way-of-north-central-arkansas">United Way of Independence County</a></li>
        <li class="text-left"><a href="https://www.wrpdd.org/">White River Planning and Development District</a></li>
      </ul>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
