{% extends "home/index.html"%}

{% block title%} Staff {% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row">
      <h1> Staff </h1>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
      <p class="text-center"> Home Office: Baxter, Cleburne, Conway, Faulkner,
         Independence, Izard, Fulton, Jackson, Marion, Searcy, Sharp, Stone,Van Buren and White Counties </p>
    </div>
    <div class="col-sm-2"></div>
  </div>


</div>

{% endblock %}
