{% extends "home/index.html"%}

{% block title%} Staff {% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row">
      <h1> Staff </h1>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
      <p class="text-center"><h3> Home Office: Baxter, Cleburne, Conway, Faulkner,
         Independence, Izard, Fulton, Jackson, Marion, Searcy, Sharp, Stone,Van Buren and White Counties </p></h3>

         <p><strong><em>Debbie Mize<br /></em></strong>Phone: 1-800-737-2237 (Toll Free)<br />
            1-870-793-5233 (Locally)<em> <br /></em>Email: <a href="mailto:debbie@wrpdd.org">dmize@wrpdd.org</a></p>

         <p><em><strong>Jill Dockins</strong></em><br />Phone: 1-800-737-2237 (Toll Free)<br />
             1-870-793-5233 (Locally)<br />Email: <a href="mailto:jdockins@wrpdd.org">jdockins@wrpdd.org</a></p>

         <address><em><strong>Paula Hagan</strong></em></address><address>Phone: 1-800-737-2237 (Toll Free)<br />
             1-870-793-5233 (Locally)<br />Email: <a href="mailto:apinkston@wrpdd.org">paula@wrpdd.org</a></address>

         <address><em><strong>Jessica Wade</strong></em></address><address>Phone: 1-800-737-2237 (Toll Free)<br />
              1-870-793-5233 (Locally)<br />Email: <a href="mailto:apinkston@wrpdd.org">jessica@wrpdd.org</a></address>
         <p><span style="line-height: 1.5em;"> </span></p>
         <div class="row">
           <h3 class="text-center"> Satellite Office: Conway and Faulkner Counties</h3>
         <p><em><strong>Carol Crockett</strong></em><br />Phone: 1-800-737-2237 (Toll Free)<br />
             1-501-327-6677 (Locally)<br /><em>Email</em>:
             <em><a href="mailto:carolcrockett5@gmail.com">carolcrockett5@gmail.com</a></em></p>

         <address><em><strong>Caley Denning</strong></em></address><address>Phone:  1-800-737-2237 (Toll Free)</address><address>
              1-501-327-6677 (Locally)</address><address>Email: <a href="mailto:caleydenning@gmail.com">caleydenning@gmail.com</a></address>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
</div>

{% endblock %}
