.jumbotron {
  margin: 0px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.large-text {
  font-size: 1.5em;
}
.small-text {
  font-size: .9em;
  color:grey;
}

.right {
  float: right;
}

#main{
  margin-left: 20px;
  margin-right: 50%;
}

.fieldWrapper{


}
span{
  text-align: center;
  padding:5px;
}
p{
  width:100%;
  float:left;
  margin:5px;
  padding: inherit;
  font-size: 2vw;
}

h2{
  font-size: 3.5vw;

}
