{$ load static $}
<html>
  <head>
    <title>CCANA Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ccana_site/static/home/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <div class = "container">
      <div class="jumbotron">
        <img src="https://www.ccana.org/assets/Users/Images/sidebar_children.png"/>

      </div>
    </div>


  </body>
</html>
