{% load static %}
<html>
  <head>
    <title>Contact-Us</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Sunshiney|Josefin+Sans|Indie+Flower&display=swap" rel="stylesheet">
    <meta charset="utf-8">
  </head>
  <body>
    <div id = "page-head" class ="jumbotron" style="background-color: transparent">

    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <ul class="nav navbar-nav nav-fill">
            <li><a href="#"> Home </a></li>
            <li><a href="#"> Parents </a></li>
            <li><a href="#"> Provider </a></li>
            <li><a href="#"> Staff </a></li>
            <li><a href="#"> Sponsors </a></li>
            <li><a href="#"> Training/Events </a></li>
            <li><a href="#"> Help me find Child Care </a></li>
          </ul>
      </div>
    </nav>
    <div id="motto">
      <div class = "page-header">
        <h1 class="text-center"> Northcentral Arkansas Most Trusted Childcare Resource </h1>
      </div>
    </div>
    <div class="container-fluid page-header">
      <p class="text-center"><strong>Child Care Aware of Northcentral Arkansas is a community child care resource and referral program providing services in fourteen Northcentral Arkansas counties. The program helps parents locate child care through a database of licensed and registered facilities based upon that family's needs all free of charge.</strong></p>
    </div>
    <div class="container-fluid h-50">

    </div>
  <h1> Contact Us</h1>
  <div class="leftbody">
    <p>
    <b>Child Care Aware of Northcentral Arkansas</b><br />
    P.O. Box 2396<br />
    Batesville, AR 72503<br /><br />
    Telephone:800-737-2237 or 870-793-5233<br />
    FAX:870-793-4035<br />
    Email: <a href="mailto:info@ccana.org" title="Email Child Care Aware of Northcentral Arkansas">info@ccana.org</a><br />
    </p>
    <p>Hours of Operation: Monday-Thursday 8:00 a.m.-5:00 p.m.<br />                                 Friday 8:00 a.m.- 12:00 p.m.<br /><br />(Contact via email from staff is possible during hours of non-operation)</p>
    <p>Please fill out the form below to contact us.</p>

  </div>
  <footer>
    <div class="jumbotron-fluid">
      <div class = "container-fluid">
      </div>
    </div>
  </footer>
</html>
