{% load static %}
<form method="post">
{%csrf_token%}

<div class="fieldWrapper">
    {{ form.event.errors }}
    <label for="{{ form.name.id_for_label }}">Event Name:</label>
    {{ form.event }}
</div>

<div class="fieldWrapper">
    {{ form.id.errors }}
    <label for="{{ form.id.id_for_label }}">Your ID Number:</label>
    {{ form.id }}
</div>

<div class="fieldWrapper">
    {{ form.name.errors }}
    <label for="{{ form.name.id_for_label }}">Your Name (first and last):</label>
    {{ form.name }}
</div>

<div class="fieldWrapper">
    {{ form.email.errors }}
    <label for="{{ form.email.id_for_label }}">Email address:</label>
    {{ form.email }}
</div>

<div class="fieldWrapper">
    {{ form.phone.errors }}
    <label for="{{ form.phone.id_for_label }}">Phone Number:</label>
    {{ form.phone }}
</div>
  <input type="submit" value="Save">
</form>
