{% extends "home/index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Attendance {% endblock %}
{% block content%}

{% if form.fields.event.queryset %}
{%csrf_token%}

  <div class="row">
    <div class="motto2">
      <h1> Attendance Form </h1>
    </div>
  </div>
  <form method="post">
  {% for field in form %}
  <div class="form-group">
    {{field.label_tag}}
    {% render_field field class="form-control" %}
  </div>
  {% endfor %}
    <input type="submit" value="Save">
    </form>
{% else %}
  <p>There are no upcoming or ongoing events for you to attend.</p>
  {% endif %}

{% endblock %}
