{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

{% block jumbo %}
<div class ="jumbotron" style="background-color: transparent"></div>
{% endblock %}
{% block content %}
<div id="main">
  <form method="post">
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Event Name:</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
    </div>
    <div class="fieldWrapper">
        {{ form.location.errors }}
        <label for="{{ form.location.id_for_label }}">Location:</label>
        {{ form.location }}
    </div>
    <div class="fieldWrapper">
        {{ form.start_time.errors }}
        <label for="{{ form.start_time.id_for_label }}">Start Time:</label>
                  <div class="form-group">
                  <div class='input-group date datetime-input'>
                      <input type='text' name="start_time" class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
    </div>
    <div class="fieldWrapper">
        {{ form.end_time.errors }}
        <label for="{{ form.end_time.id_for_label }}">End Time:</label>
                  <div class="form-group">
                  <div class='input-group date datetime-input'>
                      <input type='text' name="end_time" class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
    </div>

  <input type="submit" value="Save">
  </form>

</div>
{% endblock %}
  <script>
      $(function () {
          $('.datetime-input').datetimepicker({
              format:'YYYY-MM-DD HH:mm:ss',
              debug:true,
          });
      });
  </script>
