{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


{% if event_list %}
<div class="container">
      <ul>
    {% for event in event_list %}
    <div class="row">

      <p class="small-text right">{{event.id}}</p>
        <h2>{{ event.name }}</h2>
        <p>Location: {{event.location}} </p>
        <span><p>{{event.start_time}} - {{event.end_time}}</p></span>
        <p>{{ event.description }}</p>
      </div>
    <hr>
    {% endfor %}
    </ul>
</div>
{% else %}
    <p>There are no events scheduled in the near future.</p>
{% endif %}
