{% extends "home/index.html" %}
{% load static %}
{% block extraresources%}
<link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}">
{% endblock %}
{% block title %} Upcoming Events {% endblock %}

{% block content %}
{% if event_list %}
<div class="container-fluid">
  <div class="row">
    <div class="motto">
      <h1 class="text-center"> TRAINING AND UPCOMING EVENTS</h1>
    </div>
  </div>
      <ul>
    {% for event in event_list %}
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 text-left">
        <p class="small-text right">{{event.id}}</p>
        <h2 class="text-left">{{ event.name }}</h2>
        <p>Location: {{event.location}} </p>
        <span><p>{{event.start_time}} - {{event.end_time}}</p></span>
        <p>{{ event.description }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr>
    {% endfor %}
    </ul>
</div>
{% else %}
    <h1>There are no events scheduled in the near future.</h1>
{% endif %}
{% endblock %}
