body{
  font-family: 'Josefin Sans', cursive;
}

#page-head{
  height: 30%;
  background-image: url("images/bannerimage.PNG");
}


.jumbotron {
  margin: 0px;
  padding: inherit;
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: center center;
  text-align: center;
  width: 100%;
}

.jumbotron.jumbotron-fluid{
  padding-top: 0px;
  padding-bottom: 7px;
  width: 100%;
}


/* navbar */
.navbar-toggle {
  margin-left: 15px;
}
.navbar-default {
  background-color: #ee3023;
  border-color: #c0392b;
  margin:0px;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffc4c5;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffc4c5;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ee3023;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffc4c5;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #c0392b;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffc4c5;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffc4c5;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffc4c5;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffc4c5;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffc4c5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffc4c5;
    background-color: #c0392b;
  }
}

nav ul{
  display: flex;
  justify-content:space-around;
}

nav li{
  width: 100%;
  display: flex;
  padding-right: 10px;
  white-space: nowrap;
}

h1{
  font-size: 4vw;
  text-align: center;
}

h3 {
  font-size: 35px;
  font-variant: small-caps;
  text-decoration: underline;
}

a {
  font-size: 20px;
}

p {
  font-size: 2em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-sm-4 {
  float: left;
}

.border{
  border: 10px;
  border-style: outset;
  border-color: #ee3023;
  display: inline-block;
}

li{
  font-size: 20px;
  padding-top: 5px;
}

.row {
 text-align: center;
 margin-left: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
}

footer{
  width: 100%;
  min-height: 100px;
  padding-top: 50px;
}

footer p{
  padding-left: 10px;
}

.container-fluid{
  position:relative;
  width: 100%;
  overflow: auto;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display:inline-block;
  align-items: center;
}

.centered{
  width:50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.motto{
  height: 30%;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2em;
  justify-content: center;
  align-content: center;
  font-variant: small-caps;
  background-color: #014990;
  color: white;
  display: flex;
  flex-wrap: wrap;
  border: 10px;
  border-style: double;
  border-color: #ee3023;
  text-shadow: 1.5px 1.5px #ee3023;
}

.motto2{
  height: 25%;
  width:100%;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 30px;
  justify-content: center;
  align-content: center;
  font-variant: small-caps;
  background-color: #014990;
  color: white;
  display: flex;
  flex-wrap: wrap;
  border: 10px;
  border-style: double;
  border-color: #ee3023;
  box-shadow: 0px 0px 0px 5px #ee3023 inset;
  text-align: center;
}

#rectangle{
  width: 70%;
  height: .25em;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #014990;
  display: inline-block;
}

.jumbotron .jumbotron-fluid{
  float: left;
  width: 100%;
}

.col-sm-4 p{
  font-size: 15px;
  margin: 0px;
  padding-bottom: 3px;
  white-space: pre-line;
  display:block;
  float: left;
}
.col-sm-8{
  display: inline-block;
  align-items:center;
  text-align: left;
}

.col-sm-6{
  margin:0px;
  padding:0px;
  text-decoration-style: dashed;
}

.map{
  width: 35%;
  height: 70%;
}

footer a{
  font-size: 15px;
}

.col-sm-10 span{
  float: left;
}


.fieldWrapper{
  margin-right: 70%;
  padding-bottom: 1%;
}
