body{
  font-family: 'Josefin Sans', cursive;
}

#CCANA-icon{
  width:50%;
  height:50%;
  float:left;
}

#page-head{
  background-image: url("images/BannerImage.PNG");
}


.jumbotron {
  margin: 25px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  text-align: center;

}


/* navbar */
.navbar-toggle {
  margin-left: 15px;
}
.navbar-default {
  background-color: #ee3023;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffc4c5;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffc4c5;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ee3023;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffc4c5;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #c0392b;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffc4c5;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffc4c5;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffc4c5;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffc4c5;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffc4c5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffc4c5;
    background-color: #c0392b;
  }
}

nav ul{
  display: flex;
  justify-content:space-around;
}

nav li{
  width: 100%;
  display: flex;
  padding-right: 10px;
  white-space: nowrap;
}

h1{
  font-size: 60px;
  text-align: center;
  overflow-x:auto;
  display: inline-block;
}

h3{
  font-size: 40px;
  font-variant: small-caps;
}

a{
  font-size: 20px;
}

p{
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}


.border{
  border: 20px;
  border-style: solid;
  border-color: #ee3023;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
}

.border2{
  border: 10px;
  border-style: double;
  border-color: #ee3023;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  padding: 20px;
}

li{
  font-size: 20px;
}

.row {
 max-width: 100%;
 text-align: center;
}

footer{
  width: 100%;
  min-height: 100px;
}

.container-fluid{
  max-width: 100%;
  overflow: auto;
  padding: 0px;
  margin: 15px;
  display: inline-block;
}

#motto{
  min-width: 500px;
  height: 320px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 30px;
  justify-content: center;
  font-variant: small-caps;
  background-color: #014990;
  color: white;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
}

#rectangle{
  width: 50%;
  height: 7px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #014990;
  display: inline-block;
}
